@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    font-family:"Bebas Neue";
    align-content: center;
}

body{
    background-color: #fff;
}


.jutify-content-center{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.navbar-brand{
    font-size: 35px;
}

.nav-link {
    font-size: 35px;
}

.bi-cart-plus{
    color: #fff;
    font-size: 50px;
}